extends layout

block content
    main
        if movies
            each movie, i in movies
                a(class="blocks" href="/movies/display?id="+ movie.id)
                    figure
                        img(src=movie.medium_cover_image)
                        figcaption #{movie.title_long}
        else if movie
            include ./movies-single.pug